<center>
<%= link_to(image_tag("logo.png"), "http://thanxup.com") %>
<h3> Lets calculate your influence! </h3>

<ul>
<% flash.each do |key, msg| %>
 <center> <div> Your facebook influence according to Thanxup is <font color="#ff6e00"><b><%=msg%>%</b></font></div></center>
<% end %>
</ul>

<p><%= link_to 'Calculate with Facebook', signin_path %></p>

</center>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p><small>DISCLAIMER: Esto es una beta privada de Thanxup. Nuestro algoritmo ni guarda ni lee ninguna de tus publicaciones. Si quieres que borremos tu informacion de nuestra base de datos escribenos a whatsup@thanxup.com! </small></p>